<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <configSections>
      <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
    </configSections>
    <!--Config 파일로 Load Module-->
    <modules>
      <module assemblyFile="Module1.dll" moduleType="Module1.Module1Module, Module1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Module1Module" startupLoaded="true" />
      <module assemblyFile="Module2.dll" moduleType="Module2.Module2Module, Module2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Module2Module" startupLoaded="true" />
        <!--<dependencies>
          <dependency moduleName="ModuleE"/>
        </dependencies>
      </module>-->
    </modules>
  </configuration>